.navBar {
  display: flex;
  padding: 12px 3vw;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    color: inherit;
    
    img {
      width: 40px;
      height: 40px;
    }
    
    p.links {
      
      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s;
      }
    }

    p.brand {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;

      &:hover {
        color: #ffffffcc;
      }
    }
  }

  .navLinks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .logout-btn {
      background-color: #fff;
      color: #000;
      padding: 5px 10px;
      font-weight: 600;
      border-radius: 5px;
      margin-left: 20px;
      
      p {
        margin: 0;
      }
    }
  }
}
