.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
}

.all-problems-container {
  padding: 3% 1% 0;
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; 
    color: #fff;

    th {
      text-align: center;
    }

    th, td {
      padding: 10px 20px;
      border: 1px solid #ddd;
      
      a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        opacity: 0.75;
      }
    }
  }

}

.hard {
  color: #ff375f;
}

.medium {
  color: #ffc01e;
}

.easy {
  color: #00b8a3;
}
